<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>CEL REPL</span>
    <div class="spacer"></div>
    <a aria-label="CEL Go on Github" target="_blank" rel="noopener" href="https://github.com/google/cel-go" title="CEL Go Github">
      <img class="github-logo" src="assets/github.svg" />
    </a>  
</div>

<mat-drawer-container role="main" class="content" autosize>
  <!-- must be immediate childe of side-nav-container -->
  <mat-drawer class="reference-panel-container" #drawer opened mode="side" position="end">
    <app-reference-panel></app-reference-panel>
  </mat-drawer>
  <mat-drawer-content class="main-panel-container">
    <div class="repl-console-container">
      <app-repl-console></app-repl-console>
    </div>
    <div class="control-button-bar">
      <button mat-raised-button (click)="drawer.toggle()" color="primary">Show / Hide References</button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

