
.repl-console-wrapper input {
   font-family: monospace;
}

.statement-block {
    width: 100%;
    min-width: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.statement-container {
    width: 100%;
}

.statement-container mat-hint {
    font-size: 1rem;
}

.reset-wrapper {
    position: absolute;
    right: 2rem;
    top: 6rem;
  }